<h5 class="subTitulo2">Consulta por cep</h5>
  
<div class="container">
  <br>    
  <div class="text-center">
    <!-- titulo -->
    <p class="card-text">Busca por cep/endereço API RAST no Angular V8.</p>

    <!-- input cep -->
    <div class="form-group cepInput" >
      <input type="text" maxlength="9" class="form-control" [(ngModel)]="inputCep" (keyup)="ngKeyup()"  placeholder="cep">
      <div class="alert alert-danger" role="alert" [hidden]="validando">
        {{msgErro}}
      </div>
      <div class="alert alert-success" role="alert" [hidden]="!valido">
          Cep encontrado!!
      </div>
    </div>

    <!-- laoding  -->
    <img src="./assets/images/loading.gif" alt="" [hidden]="loading">

    <!-- card do endereço -->
    <div class="card" style="width: 18rem; margin: 0 auto;" [hidden]="!valido">
      <div class="card-body">
        <h5 class="card-title">Cep: {{cepEncontrado['cep']}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">endereço</h6>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <ul>
          <li> <b> Cidade: </b><i>{{cepEncontrado['localidade']}} - {{cepEncontrado['uf']}}</i></li>
          <li><b> Bairro: </b> <i>{{cepEncontrado['bairro']}}</i></li>
          <li><b> Rua: </b> <i>{{cepEncontrado['logradouro']}}</i></li>
          <li *ngIf="cepEncontrado['complemento']"><b> Complemento: </b> <i>{{cepEncontrado['complemento']}}</i></li>
        </ul>
<!--         
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>
  </div>
  <br>

<!-- bairro: "Sé"
cep: "01001-010"
complemento: ""
gia: "1004"
ibge: "3550308"
localidade: "São Paulo"
logradouro: "Rua Filipe de Oliveira"
uf: "SP"
unidade: "" -->
 